{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="card">
      <div class="card-header text-light bg-primary-subtle text-center" data-bs-theme="dark">
        <h4>{{title}}</h4>
      </div>
      <div class="card-body">
        <form action="" method="post" novalidate>
          {{form.hidden_tag()}}
          
          <div class="mb-3">
            {{form.username.label(class='form-label')}}
            {% if form.username.errors %}
            {{form.username(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                  
                </div>
            {% else %}
                {{form.username(class='form-control')}}
            {% endif %}
            
          </div>
          <div class="mb-3">
            {{form.password.label(class='form-label')}}
            {% if form.password.errors %}
                {{form.password(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{error}}</span>
                  {% endfor %}
                </div>
                
             
            {% else %}
                {{form.password(class='form-control')}}
            {% endif %}
            
          </div>
          <div class="mb-3">
            <div class="form-check">
              {{form.remember(class='form-check-input')}}
              {{form.remember.label(class='form-check-label')}}
            </div>
          </div>
          <hr>
          <div class="mb-3">
            {{form.submit(class='btn btn-outline-primary')}}
            
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}